@import 'bootstrap';

body {
height: 100%;
padding-top: 60px;
display: block;
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
background-color: #ffffff;
}
.head-content {
	padding-top: 1px;
}
.footer{
    color: #000;
    padding-top: 60px;
    a{
        color: #ccc;
    }
}

#wrap {
	padding-top: 60px;
	}

.description {
	margin: 10px 5px;
}